# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp
.pnp.js

# Next.js
/.next/
/out/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Production
build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.*

# macOS
.DS_Store
*.pem

# Supabase & Local Env
# Crucial: This prevents your API keys from leaking to GitHub
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# System Files
.DS_Store
.DS_Store?
._*
Thumds.db
*.pem

# generated native folders
/ios
/android
